language: java
sudo: false # faster builds

jdk:
  - openjdk8

cache:
  directories:
    - $HOME/.m2

# install all dependencies
# if true, skip all install
install: mvn clean install -DskipTests

script: "mvn cobertura:cobertura"

# define four parallel jobs
matrix:
  include:
    # This job is to test drpc project on linux.
    - os: linux
      dist: xenial
      script:
        - travis_wait 20 mvn test

    # TODO(qwang): This doesn't work well.
    # for linux: This job to check code format.
    - os: linux
      dist: trusty
      script:
        - travis_wait 10 mvn checkstyle:check

    # This job is used for build and test cpp client on linux.
    - os: linux
      dist: trusty
      script:
        - travis_wait 15 ./cpp/build_and_test.sh

after_success:

